<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading open-chatlog">
      <%= link_to conversation.opposed_user(user).full_name, user_path(conversation.opposed_user(user)),
        class: "toggle-window" %>
      <%= link_to "x", "javascript:void(0)", class: "btn btn-default btn-xs pull-right btn-close" %>
    </div>

    <div class="panel-body" style="display: none;">
      <div class="messages-list">
        <ul>
          <%= render "conversations/conversation_content", messages: conversation.messages, user: user %>
        </ul>
      </div>

      <form class="new_message">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <div class="col-md-12">
          <textarea name="body" class="form-control"></textarea>
        </div>
        <div class="col-md-4 mt-5 pull-right">
          <input type="submit" class="btn btn-xs btn-success" value="Send">
        </div>
      </form>
    </div>
  </div>
</li>
