<!DOCTYPE html>
<html>
  <head>
    <title>RealtimeChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag "favicon.ico", rel: "realtimechat icon" %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%#= render 'layouts/footer' %>
  </body>
</html>
